@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color:#0f172a;;
    font-family: 'Poppins', sans-serif ;
    color: white;
    max-width: 1100px;
    margin: 0 auto;
    
}

header h1 {
    text-align: center;
    font-weight: 700;
    padding: 20px 0px 10px 0px;
}

header h2 {
    text-align: center;
    font-weight: 500;
    padding: 0px 0px 20px 0px;
    color: #94a3b8;
}




.texto{
    text-align: left;
    color: #cbd5e1;
    max-width: 700px;
    margin: 0px 0px 0px 210px;
    

}

main h2{
    text-align: center;
    margin: 0px 310px 0px 0px;
    padding: 20px 0px 20px 0px;
}

.informacoes{
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 160px;
    background-color:#1e293b;
    padding: 0px 0px 0px 30px;
    margin: 0px 0px 0px 200px;
    border-radius: 10px;
    flex-direction: column;
    border: 1px solid  #334155;
}

.informacoes p{
    padding: 15px 0px 0px 0px;
    margin: 10px 20px 0px 0px;
    color: #e2e8f0;
}
.h2{
    margin: 0px 0px 0px 60px;
    padding: 10px 0px 0px 0px;
}

li{
      color: #cbd5e1;
    margin: 10px 0px 0px 220px;
    list-style-position: inside;
}


.pt2 h2{
    text-align: left;
    margin: 0px 0px 0px 200px;
    padding: 20px 0px 20px 0px;
}

.pt2 p {
    text-align: left;
    margin: 0px 0px 0px 200px;
    color: #cbd5e1;
}

.botao2{
    padding: 30px 0px 0px 0px;
    text-align: left;
    margin: 0px 0px 0px 200px;
    width: 300px;
    height: 100px;
}

a{
   background-color: #006aff;
   padding: 10px;
   border-radius: 50px;
   text-decoration: none;
   color: #ffffff;
  border: 1px solid #1d4ed8;
  transition: 0.3s;
}

a:hover{
   border: 1px solid #2563eb;
    background-color: #0052cc;
}




@media (max-width: 1200px) {
    header h1{
        font-size: 28px;
        text-align: left;
        margin: 0px 0px 0px 200px;

    }
    
    header h2{
        font-size: 24px;
        text-align: left;
        padding: 0px 0px 20px 300px;
    }

   
}