@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #ededed;
    font-family: 'Poppins', sans-serif ;
    color: rgb(0, 0, 0);
    max-width: 1100px;
    margin: 0 auto;
    
}

header h1 {
    text-align: center;
    font-weight: 700;
    padding: 20px 0px 10px 0px;
}

header h2 {
    text-align: center;
    font-weight: 500;
    padding: 0px 0px 20px 0px;
    color: rgb(51, 51, 51);
}

.texto{
    text-align: left;
    color: rgb(84, 84, 84);
    max-width: 700px;
    margin: 0px 0px 0px 210px;
    

}

main h2{
    text-align: center;
    margin: 0px 310px 0px 0px;
    padding: 20px 0px 20px 0px;
}

.informacoes{
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 160px;
    background-color: #d5d1e4;
    padding: 0px 0px 0px 30px;
    margin: 0px 0px 0px 200px;
    border-radius: 10px;
    flex-direction: column;
    border: 1px solid black;
}

.informacoes p{
    padding: 15px 0px 0px 0px;
    margin: 10px 20px 0px 0px;
}
.h2{
    margin: 0px 0px 0px 60px;
    padding: 10px 0px 0px 0px;
}

li{
    text-align: left;
    list-style-position: inside;
    margin: 0px 0px 0px 220px;
}

.pt2 h2{
    text-align: left;
    margin: 0px 0px 0px 200px;
    padding: 20px 0px 20px 0px;
}

.pt2 p {
    text-align: left;
    margin: 0px 0px 0px 200px;
}

.botao2{
    padding: 30px 0px 0px 0px;
    text-align: left;
    margin: 0px 0px 0px 200px;
    width: 300px;
    height: 100px;
}

a{
   background-color: rgb(0, 68, 255); 
   padding: 10px;
   border-radius: 50px;
   text-decoration: none;
   color: #ffffff;
   border: 1px solid rgb(19, 19, 75);
}

a:hover{
    border: 1px solid rgb(0, 102, 197);
    background-color: rgb(0, 132, 255);
}


@media (max-width: 1200px) {
    header h1{
        font-size: 28px;
        text-align: left;
        margin: 0px 0px 0px 200px;

    }
    
    header h2{
        font-size: 24px;
        text-align: left;
        padding: 0px 0px 20px 300px;
    }

    .texto{

    }
}